# Ignore node modules
node_modules/

# Ignore files starting with 'test'
test*
plan*

# Ignore markdown files
data.md
plan.md
test.md

# Ignore environment files
*.env

# Specific files
gpt.js
Demo.mp4
req.http